.bigCTN {
background-color: black;
font-family: 'Comic Sans MS', cursive;
color: wheat;  
display: flex;
flex-direction : column;
/* justify-content: space-evenly; */
align-items: space-evenly;
}
section {
    width: 100%;
    /* height: 550px; */
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
    display : flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.leftCtn, .rightCtn {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.photoFuts {
    width: 100%;
    border-radius: 10px;
}
.photoFuts2 {
    width: 100%;
    border-radius: 10px;
}
p {
    text-align: justify;
}
iframe {
    width: 100%;
    border-radius: 10px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*style petites-moyennes tablettes */
  
    /* .bigCTN {
        height: 1200px;
    } */
    /* .section1 {
        background-color: fuchsia;
    } */
  
    .section2 {
        display: flex;
        justify-content: center;
        /* height: 550px; */
        /* background-color: blueviolet; */
    }
  }
@media only screen and (min-width: 426px) and (max-width: 768px) {
    /*style petites-moyennes tablettes */
    .bigCTN {
        padding-top: 30px;
        height: 1080px;
        justify-content: space-around;
    align-items: center;

    }
    .section1 {
        border-radius: 10px;
        width: 90%;
        height: 900px;
        flex-direction: column;
        justify-content: space-evenly;
        background-image: url("./IMAGES_CL/FUTS/barrel-3943965.jpg");
        background-size: cover;
        
    }
    .leftCtn {
        width: 99%;
        padding: 20px;
        background-color: black;
        opacity: 0.5;
        border-radius: 10px;
    }
    .rightCtn {
        display: none;
    }
    .section2 {
        height: 500px;
        width: 100%;
    }
    
  
  }
  
  @media only screen and (min-width: 376px) and (max-width: 425px) {
  
    /*style petites-moyennes tablettes */
    .bigCTN {
        padding-top: 30px;
        height: 1159px;
        justify-content: space-around;
    align-items: center;

    }
    .section1 {
        border-radius: 10px;
        width: 90%;
        height: 649px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url("./IMAGES_CL/FUTS/barrel-3943965.jpg");
        background-size: cover;
        
    }
    .leftCtn {
        width: 122%;
        padding: 20px;
        background-color: black;
        opacity: 0.5;
        border-radius: 10px;
    }
    .rightCtn {
        display: none;
    }
    .section2 {
        height: 500px;
        width: 100%;
    }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 375px) {
  
    /*style smartphones et petites tablettes en portrait*/
    .bigCTN {
        padding-top: 30px;
        height: 1250px;
        justify-content: space-around;
    align-items: center;

    }
    .section1 {
        border-radius: 10px;
        width: 90%;
        height: 730px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url("./IMAGES_CL/FUTS/barrel-3943965.jpg");
        background-size: cover;
        
    }
    .leftCtn {
        width: 122%;
        padding: 20px;
        background-color: black;
        opacity: 0.5;
        border-radius: 10px;
    }
    .rightCtn {
        display: none;
    }
    .section2 {
        height: 500px;
        width: 100%;
    }
  }
  
    @media only screen and (max-device-width: 320px) {
      /*style petits smartphones en voie de disparition*/
      .bigCTN {
        padding-top: 30px;
        height: 1360px;
        justify-content: space-around;
    align-items: center;

    }
    .section1 {
        border-radius: 10px;
        width: 90%;
        height: 840px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url("./IMAGES_CL/FUTS/barrel-3943965.jpg");
        background-size: cover;
        
    }
    .leftCtn {
        width: 122%;
        padding: 20px;
        background-color: black;
        opacity: 0.5;
        border-radius: 10px;
    }
    .rightCtn {
        display: none;
    }
    .section2 {
        height: 500px;
        width: 100%;
    }
  }
  