
section {
    background-color: black;
    font-family: 'Comic Sans MS', cursive;

    /* color: goldenrod;*/ 
    /* color: gold; */
    color: wheat;
    width: 100%;
    height: 550px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
    display : flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.leftCtn, .rightCtn {
    width: 47%;
}
.photoFuts {
    width: 100%;
    border-radius: 10px;
}

p {
    text-align: justify;
}