.bigCTN {
  background-color: black;
font-family: 'Comic Sans MS', cursive;
color: wheat;  
display: flex;
flex-direction : column;
justify-content: space-evenly;
/* align-items: center; */
}
section {
    
    width: 100%;
    height: 750px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
    display : flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.leftCtn, .rightCtn {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.photoFuts {
    width: 100%;
    border-radius: 10px;
}
.photoFuts2 {
    width: 100%;
    border-radius: 10px;
}
p {
    text-align: justify;
}
.video {
    /* width: 100%;
    height: 50%; */
display: flex;
justify-content: center;
align-items: center;
}
iframe {
    width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*style petites-moyennes tablettes */
  
    .bigCTN {
        height: 1200px;
    }
  
  }
@media only screen and (min-width: 426px) and (max-width: 768px) {
    /*style petites-moyennes tablettes */
    .bigCTN {
        height: 1300px;
    }
    .section1 {
        flex-direction: column;
    }
    
  
  }
  
  @media only screen and (min-width: 376px) and (max-width: 425px) {
  
    /*style petites-moyennes tablettes */
    
  }
  
  @media only screen and (min-width: 321px) and (max-width: 375px) {
  
    /*style smartphones et petites tablettes en portrait*/
    
  }
  
    @media only screen and (max-device-width: 320px) {
      /*style petits smartphones en voie de disparition*/
      
  } 
  