*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

footer {
    height: 200px;
    width: 100%;
    background-image: url("../IMAGES_CL/COFFEE/coffee-seeds.jpg");
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
a {
  text-decoration: none;
  color: white;
}