*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

footer {
  font-family: 'Comic Sans MS', cursive;
  font-size: 17px;
  height: 400px;
  width: 100%;
  /* border-radius: 20px; */
  background-image: url("../IMAGES_CL/COFFEE/coffee-seeds.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer {
  font-family: 'Comic Sans MS', cursive;
  width: 200px;
  height: 250px;
  opacity: 0.7;
  background-color: black;
  color: wheat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.chocolat, .contact {
  width: 200px;
}

a {
  text-decoration: none;
  color: white;
}
.ctnIcon {
  display: flex;
  /* justify-content: space-between; */
}
.ctn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
}
.icon{
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.icon:hover{
  width: 35px;
  filter: drop-shadow(0 0 0.75rem white);
  
  }