      /* css page inscription + seconnecter */ 



.card-body{

  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 3%;

  box-shadow:  7px 7px 7px black;
  background-color: white;
  
 
}


body {

    background-color: rgb(228, 227, 227);
}


